:host {
  display: block;
}

:host ::ng-deep .p-dialog-header {
  padding: 1.25rem 1.5rem;
  border-bottom: 1px solid #f1f5f9;
}

:host ::ng-deep .p-dialog-content {
  padding: 1.5rem;
}

:host ::ng-deep .p-dialog-footer {
  padding: 1rem 1.5rem;
  border-top: 1px solid #f1f5f9;
}

