:host {
  display: block;
}

:host ::ng-deep .p-datatable {
  border: none;
}

:host ::ng-deep .p-datatable .p-datatable-thead > tr > th {
  background: transparent;
  border: none;
  padding: 0.75rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr > td {
  border: none;
  padding: 0.75rem 1rem;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr {
  border-bottom: 1px solid #f1f5f9;
}

:host ::ng-deep .p-datatable .p-datatable-tbody > tr:last-child {
  border-bottom: none;
}

