<p-table
  [value]="value()"
  [paginator]="true"
  [rows]="rows()"
  [rowsPerPageOptions]="rowsPerPageOptions()"
  [loading]="loading()"
  responsiveLayout="scroll"
  styleClass="ui-clean-table"
>

  <!-- HEADER -->
  <ng-template pTemplate="header">
    <tr>
      <th *ngFor="let h of headers()"
          class="px-5 py-3 text-xs font-semibold uppercase tracking-wide text-gray-500">
        {{ h }}
      </th>
    </tr>
  </ng-template>

  <!-- BODY - Use projected template -->
  <ng-template pTemplate="body" let-row>
    <ng-container *ngTemplateOutlet="bodyTemplate; context: { $implicit: row }"></ng-container>
  </ng-template>

</p-table>
