@reference "../../../../styles.css";

:host ::ng-deep {
  .p-datatable .p-datatable-thead > tr > th {
    @apply bg-slate-50 text-slate-600 font-semibold py-4 border-b border-slate-200;
  }

  .p-datatable .p-datatable-tbody > tr {
    @apply border-mlm-primary border-b-2;
  }

  .p-inputtext, .p-select {
    @apply rounded-lg border-slate-200 focus:border-mlm-primary focus:ring-1 focus:ring-mlm-primary;
  }

  .p-tag {
    @apply px-3 py-1 rounded-full text-[10px] font-bold uppercase;
  }
}
